div.renderer {
  p.tex {
    position: relative;
    display: block;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 10px 0 10px 0;
  }

  span.tex {
    display: inline;
  }

  span.tex + div.markdown {
    display: inline;
  }

  div.markdown{
    display: inline;

    code {
      font-family: courier;
      background-color: #fdf6e3;
    }

    div {

    }

    p {
      display: inline;
    }
  }
}
