div.about-me {
  max-width: 450px;
  min-width: 310px;
  width: 80%;

  h1 {
    font-size: 30px;
  }

  section {
    margin-top: 10px;
    vertical-align: top;
  }

  label {
    font-weight: 700;
    margin-right: 5px;
  }

  ul {
    display: inline-block;
  }

  p {
    display: inline-block;
  }

  li {
    margin-bottom: 5px;
    }

  li.last {
    margin-bottom: 0;
  }

  a {
    margin-right: 20px;
  }

  @media only screen and ( max-height: 460px ){
		margin: 30px 0 50px 0;
	}

	@media only screen and ( max-height: 395px ){
		margin: 70px 0 50px 0;
	}

  @media only screen and ( max-width: 400px ) and ( max-height: 530px ){
		margin: 30px 0 50px 0;
    a {
      margin-bottom: 10px;
    }
	}
}
