div.about-me {
  max-width: 450px;
  min-width: 310px;
  width: 80%;

  h1 {
    font-size: 30px;
  }

  section {
    margin-top: 10px;
    vertical-align: top;
  }

  label {
    font-weight: 700;
    margin-right: 5px;
  }

  ul {
    display: inline-block;
  }

  p {
    display: inline-block;
  }

  li {
    margin-bottom: 5px;
    }

  li.last {
    margin-bottom: 0;
  }

  a {
    margin-right: 20px
  }
}
