html {
	position: relative;
	height: 100%;
  font-family: 'Droid Sans', sans-serif;
}

body {
	height: 100%;
	font-size: 18px;
	background: $pale-blue;
}

a {
	color: $blue;
}

div.center {
	position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
