div.nav-bar {
  $height: 50px;
  transition: height .5s ease-in-out;

  position: fixed;
  top: 0;

  z-index: 1;
  background: $blue;

  width: 100%;
  height: $height;
  min-width: 290px;

  section.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 395px;
  }

  a {
    display: inline-block;
    padding: 0 10px 0 10px;
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;
    color: white;
    align-items: center;
    line-height: $height;
    box-sizing: border-box;
  }

  a:hover {
    background: $dark-blue;
    border-bottom: 5px solid $orange;
  }

  a.active {
    border-bottom: 5px solid $orange;
  }

  i {
    color: $orange;
    display: none;
    transition: transform 0.4s ease-in-out;
  }

  section.hamburger {
    vertical-align: middle;
  }
}

@media only screen and (max-width: 550px) {
  div.nav-bar {
    overflow: hidden;

    section.center {
      top: 0;
      transform: translate(-50%, 0);
      flex-direction: column;
      margin-top: 5px;
      height: 200px;
      min-width: 0;
    }

    a {
      line-height: 40px;
      height: 40px;
      padding: 0;
      width: 120px;
      cursor: auto;
    }

    a:hover {
      background: $blue;
    }

    i {
      display: inline-block;
      margin-right: 20px;
      cursor: pointer;
    }

    section.hamburger {
      height: 30px;
      font-size: 30px;
    }
  }

  div.nav-bar.open {
    height: 205px;

    a {
      cursor: default;
      cursor: pointer;
    }

    a:hover {
      background: $dark-blue;
    }

    i {
      transform: rotate(540deg);
    }
  }
}
