div.nav-bar {
  $height: 50px;

  position: fixed;
  top: 0;

  z-index: 1;
  background: $blue;

  width: 100%;
  height: $height;
  min-width: 320px;

  section.logo {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    justify-content: left;
  }

  section.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    display: inline-block;
    padding: 0 10px 0 10px;
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;
    color: white;
    align-items: center;
    line-height: $height;
    box-sizing: border-box;
  }

  a:hover {
    background: $dark-blue;
    border-bottom: 5px solid $orange;
  }

  a.active {
    border-bottom: 5px solid $orange;
  }
}
