div.splash {
  margin: 0 auto;
  min-width: 100%;
  width: auto;

  h1 {
    font-size: 35px;
    display: block;
  }

  h2 {
    font-size: 30px;
    display: block;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 0 auto;
    display: block;
  }

  span.orange {
    color: $orange;
  }

  div.splash-section {
    margin: 100px 0 100px 0;
    text-align: center;
  }

  a.last {
    display: block;
  }

  .splash-header {
    img {
      width: 150px;
      height: auto;
      border-radius: 20px;
      overflow: hidden;
      margin: auto;
      margin-bottom: 20px;
    }
  }

  .splash-projects {

  }

  .splash-posts {
    ul.post-links {
      text-align: right;
      display: inline-block;
      margin-right: 5px;
    }

    ul.post-dates {
      text-align: left;
      display: inline-block;
      padding-right: 100px;
    }

    li {
      margin-bottom: 10px;
      display: block;
    }
  }
}
